services:
  db:
    image: postgres:16
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: tienda
    ports:
      - "5432:5432"   # ojo con esto, ver nota de conflicto abajo
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
